//text-colors
$tc-base: #000000;
$tc-button: #FFFFFF;
$tc-disabled: rgb(0 0 0 / .3);
$tc-dim: #A3A3A3;
$tc-accent: #4B51EF;

  //background colors
$bg-body: #e0e0e0;
$bg-page: #FFFFFF;
$bg-sidebar: #BDBDBD;
$bg-user-card: #F3F3F3;
$bg-button: #4B51EF;
$bg-button-disabled: #AFAFAF;
$bg-button-green: #52CF4F;

//borders colors
$bd-input: #D8D8D8;
$bd-fieldset: #F3F3F3;